.aboutMe__container {
    background-color: var(--for-color);
    color: var(--fiv-color);
}

.aboutMe__container > h1 {
    text-align: center;
}

.p__container {
    display: flex;
}

.left__column {
    flex: 1;
}

.middle__column {
    flex: .3;
}

.right__column {
    flex: 1;
    text-align: right;
}

.p__left {
    margin-left: 10px;
}

.p__right {
    margin-right: 10px;
}

/* #p__1 {

}

#p__2 {

}

#p__3 {

}

#p__4 {

}

#p__5 {

}

#p__6 {

}

#p__7 {

} */