.body__header__container {
    color: var(--fiv-color);
    /* background-color: var(--fiv-color); */
    background: linear-gradient(60deg, var(--fiv-color) 60%, var(--sec-color) 60%, var(--fiv-color) 100%);
    /* background: linear-gradient(180deg, var(--fiv-color) 60%, var(--sec-color) 60%, var(--fiv-color) 100%); */
    flex: 1;
}
.body__header__container__two {
    background: transparent;
    background: linear-gradient(160deg, transparent 49%, var(--fou-color) 49%, transparent 85%);
}

.body__intro {
    color: var(--pri-color);
}

.body__intro__header {
    width: 50%;
    height: 250px;
    margin-left: 5%;
    margin-top: 10%;
    font-size: 2.5em;
}

.body__intro__subtext {
    margin-left: 5%;
    color: var(--ter-color);
}

.body__intro__button {
    margin-left: 10%;
    margin-bottom: 10px;
    height: 40px;
    width: 120px;
    background: transparent;
    border: 2px solid var(--pri-color);
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    color: var(--pri-color);
}

.body__intro__button:hover {
    background-color: var(--fiv-color);
    color: var(--pri-color);
    border: 3px solid var(--pri-color);
    cursor: pointer;
}

#intro__dev {
    margin-left: 10%;
}