.header__container {
    display: flex;
    flex-direction: column;
    width: 5%;
    position: sticky;
    left: 0;
    top: 0;
    color: var(--ter-color);
    transition: 0.3s;
}

.header__logo {
    width: 100%;
}

.header__container:hover {
    width: 15%;
}

.nav__title {
    display: none;
}

.header__space {
    height: 150px;
}

.nav__links > ul {
    list-style-type: none;
    padding: 0;
}

.nav__icon {
    color: var(--ter-color);
}