.header__container {
    color: var(--fiv-color);
    background: rgb(23, 23, 23);
    border-right: 1px solid var(--fiv-color);
}

.header__logo {
    margin-left: 3px;
}

.header__logo * {
    margin: 0;
    padding: 0;
    transition: 0.1s;
}

.sidebar__sticky:hover .header__logo * {
    font-size: 1.3em;
}

.sidebar__sticky {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    height: 100vh;
    top: 0;
    left: 0;
    width: 50px;
    overflow: hidden;
    transition: 300ms;
    background: transparent;
}

.header__logo {
    width: 100%;
}

.sidebar__sticky:hover {
    width: 120px;
    background-color: var(--sec-color);
    color: var(--fiv-color);
    opacity: 1;
    border-right: 1px solid var(--fiv-color);
}

.nav__title {
    color: var(--fiv-color);
    margin-left: 5px;
    font-size: 1.2em;
    opacity: 0;
    transition: 500ms;
}

.sidebar__sticky:hover .nav__title {
    color: var(--fiv-color);
    opacity: 1;
}

.header__space {
    height: 150px;
}

.nav__links {
    margin-left: 5px;
}

.nav__links > ul {
    list-style-type: none;
    padding: 0;
}

.nav__links > ul > li {
    margin: 10px 0;
}

ul > li > a {
    text-decoration: none;
}

.navlink__items {
    display: flex;
    align-items: center;
}

.social__links {
    margin-left: 10px;
}

.social__title {
    font-size: 0.9em;
}

.social__links > ul {
    list-style-type: none;
    padding: 0;
}

.social__icon {
    width: 1.5em;
    margin: 10px 0;
}

.nav__icon {
    color: var(--fiv-color);
}

ul {
    margin-left: 3px;
}
