.header__container {
    display: flex;
    flex-direction: column;
    width: 20%;
    position: sticky;
    left: 0;
    top: 0;
}

.nav__links > ul {
    list-style-type: none;
}

.nav__links > a {
    color: white;
}

.nav__links > a:visited {
    color: red;
}